.add-to-cart img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 1%;
  top: 1%;
}
.cart-wrapper {
  margin-left: 10px;
  width: 200px;
  border: 1px solid gray;
}
.img-wrapper {
  text-align: center;
}
.img-wrapper img {
  height: 100px;
  width: 100px;
  padding: 20px;
}
.text-wrapper {
  text-align: center;
  font-size: 10px;
}
.btn-wrapper {
  text-align: center;
}
.btn-wrapper button {
  padding: 5px;
  background-color: black;
  color: #fff;
}
